@media only screen and (min-width: 768px) {

    header,
    main,
    nav,
    footer {
        max-width: 960px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 30px auto;

    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px var(--border-color);
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /* List view on larger screens */
    #members.list-view .member-card {
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
    }

    #members.list-view .member-card>* {
        flex: 1;
    }

    /************* courses cards *************/
    .courses {
        font-size: 1.5em;
        padding: 10px;
        display: flex;
        column-gap: 10px;
    }

    .course-card {
        flex: 1;
    }

}